.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid red;
    background-color: orange;
}

.navbarLinks {
    font-size: 1.4rem;
    text-decoration: none;
}

.art {
    color: palegreen;
}

.ite {
    color: rgb(151, 27, 66);
}

.aut {
    color: rgb(51, 39, 21);
}